################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EtwLogger/bin/Debug
/EtwLogger/obj/Debug
/EtwLoggerConsoleTest/bin/Debug
/EtwLoggerConsoleTest/obj/Debug
/.vs/EtwLogger/v14/.suo
